<!-- app/views/persons/edit.html.erb -->
<h1>Edit Person</h1>

<%= form_for @person do |form| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% @person.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.fields_for :detail_attributes, @person.detail || @person.build_detail do |details_form| %>
      <%= details_form.hidden_field :id %>

      <%= details_form.label :email %>
      <%= details_form.email_field :email %>

      <%= details_form.label :title %>
      <%= details_form.text_field :title %>

      <%= details_form.label :phone %>
      <%= details_form.text_field :phone %>

      <%= details_form.label :age %>
      <%= details_form.number_field :age %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', persons_path %>
